@font-face {
  font-family: 'iconfont';  /* project id 1032520 */
  src: url('//at.alicdn.com/t/font_1032520_9jdvpl3115c.eot');
  src: url('//at.alicdn.com/t/font_1032520_9jdvpl3115c.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1032520_9jdvpl3115c.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1032520_9jdvpl3115c.woff') format('woff'),
  url('//at.alicdn.com/t/font_1032520_9jdvpl3115c.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1032520_9jdvpl3115c.svg#iconfont') format('svg');
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display:inline-block;
  vertical-align:middle;
}
